body{
	background-color: #f5f5f5;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

.sidebar{
	width: 300px;
	background-color: #46474c;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.avatar{
	margin-top: 50px;
}
.avatar>img{
	width: 103px;
	height: 103px;
	border-radius: 50%;
	border:3px solid #3c3d41;
}
.avatar>p{
	font-size: 18px;
	color: #bebfc0;
	text-align: center;
	margin: 25px 0;
}

ul.menu>li>a{
	font-size: 16px;
	color: rgba(255,255,255,0.6);
	line-height: 50px;
}

a.active{
	color: rgba(255,255,255,1)!important;
}

.contact{
	margin-top: 50px;
	margin-left: 20px;
	color: #858585;
}
.contact>p{
	font-size: 18px;
	margin-bottom: 10px;
}
.contact>ul>li{
	line-height: 40px;
}
.contact>ul>li>i{
	font-size: 24px;
	margin-right: 10px;
	color: #bebfc0;
}
.contact>ul>li>a{
	color: #858585;
	font-size: 16px;
}

.main{
	width: calc(100% - 300px);
	height: 100%;
	position: absolute;
	right: 0;
}
.main-title{
	height: 60px;
	border-bottom: 1px solid #e0e0e0;
	line-height: 60px;
	padding: 0 30px;
	background-color: white;
	font-size: 18px;
	position: fixed;
	width: 100%;
}
.block{
	width: 4px;
	height: 14px;
	background-color: #46474c;
	display: inline-block;
}

.main-content{
	margin-top: 60px;
}
.main-content>ul>li{
	width: 33.3333%;
	float: left;
	padding: 20px;
	overflow: hidden;
}
.main-content>ul>li>a{
	display: block;
	color: #232323;
}

.item{
	background: white;
	width: 100%;
	border: 1px solid #eee;
	border-radius: 4px;
	overflow: hidden;
	padding: 10px;
}

.item>img{
	width: 100%;
}
.item>p{
	line-height: 50px;
}

.item .tag span{
	display: inline-block;
	border: 1px solid #e0e0e0;
	padding: 3px 8px;
	border-radius: 4px;
	margin-bottom: 5px;
	background: #f8f8f8;
}