html{
	font-size: 16px;
	color: #303030;
	font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}
body{
	position: relative;
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #303030;
}
li{
	list-style: none;
}

header.main-header{
  position: fixed;
  display: flex;
  top: 0;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 1.4rem;
  background-color: white;
}
header.main-header ul{
	height: 100%;
	display: flex;
	align-items: center;
}
header.main-header ul li{
	float: left;
	font-size: 1.1rem;
	width: 7rem;
	cursor: pointer;
	text-align: center;
}
header.main-header ul li.resume{
	position: relative;
}
header.main-header ul li.resume:hover:before, header.main-header ul li.resume:hover:after{
	display: block;
}
header.main-header ul li.resume:before{
	content: "";
	display: none;
	border: 0.3rem solid transparent;
	border-top-color: rgba(0,0,0,0.8);
	position: absolute;
	left: 50%;
	margin-left: -0.3rem;
	top: -0.15rem;
}
header.main-header ul li.resume:after{
	content: "简历未开放";
	display: none;
	position: absolute;
	font-size: 0.8rem;
	background: rgba(0,0,0,0.8);
	color: white;
	border-radius: 0.2rem;
	padding: 0.1rem;
	width: 5.2rem;
	left: 50%;
	margin-left: -2.6rem;
	top: -1.4rem;
}

section{
	text-align: center;
	padding: 4rem 0;
}

section.summary{
	margin-top: 6.6rem;
}
section.summary img{
	margin: 4rem 0;
}
section.summary p{
	margin: 3.3rem 0;
	line-height: 2rem;
	color: #656565;
}

.title{
	font-size: 1.5rem;
	margin-bottom: 5.8rem;
}
.sub-title{
	color: #a5a5a5;
	font-size: 1rem;
}
.desc{
	color: #656565;
}

ul.work-list{
	width: 100%;
	background-color: #f3f3f3;
	overflow: hidden;
	padding: 0.5rem;
}
ul.work-list li{
	float: left;
	width: 33.333333%;
}
ul.work-list li .content{
	padding: 5.8rem 0;
	margin: 0.5rem;
	background: white;
	transition: all 500ms;
}

ul.work-list li .content:hover{
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

ul.work-list li .content img{
	margin-bottom: 2.8rem;
}
ul.work-list li .content p{

}
section.contact em{
	font-size: 3rem;
	color: #656565;
}
section.contact .context{
	padding: 10rem 0 15rem;
	display: flex;
	justify-content: center;
}
section.contact .context>div{
	margin: 15px 90px;
}
section.contact .context p{
	font-size: 1.6rem;
	color: #a5a5a5;
	margin-top: 2.5rem;
}
footer.main-footer{
	text-align: center;
	border-top: 1px solid #eee;
	line-height: 4rem;
	color: #acacac;
}
footer.main-footer span{
	margin: 0 1rem;
}
